  <title> 观堂</title>
  <link rel="shortcut icon" href="__PUBLIC__/images/logo.png" />
  <meta name="description" content=""/>
  <meta name="keywords" content="观堂"/>
  <meta charset="utf-8"/>
  <meta name="renderer" content="webkit">
  <meta name="author" content="Monolith"/>
  <meta property="og:title" content="观堂"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://guan-tang.com"/>
  <meta property="og:image" content=""/>
  <meta property="og:site_name" content="观堂"/>
  <meta property="og:description" content="观堂装饰设计公司"/>
  <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="__PUBLIC__/css/font/fonts.css">
  <link rel="stylesheet" href="__PUBLIC__/css/style.css">
  <script src="__PUBLIC__/js/lib/jquery-latest.min.js"></script>
   <!--[if IE]>
   <script src="__PUBLIC__/js/lib/html5.js"></script>
   <script src="__PUBLIC__/js/lib/jquery-1.7.2.min.js"></script>
   <![endif] -->
  <script src="__PUBLIC__/js/lib/jquery.mousewheel.min.js"></script>
  <script src="__PUBLIC__/js/lib/jquery.touchSwipe.min.js"></script>
  <!--<script src="js/lib/jquery.easing.1.3.js"></script>-->
  <script src="__PUBLIC__/js/lib/gistfile1.js"></script>
  <script src="__PUBLIC__/js/lib/modernizr.custom.33755.js"></script>
  <script src="__PUBLIC__/js/common.js"></script>

